*{
    padding: 0;
    margin: 0;
    

}


#game{
    width:500px;
    height: 200px;
    border: 3px solid black;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    
    

}
#character{
    width:20px;
    height:50px;
    background-color: red;
    position: relative;
    top: 150px;
    /* animation:jump 500ms ; */
}
.animate{
    animation: jump 500ms;
}

@keyframes jump{
    0%{top:150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top: 150px;}
}

#block{
    width:20px;
    height:20px;
    background-color: blue;
    position: relative;
    top: 130px;
    left: 480px;
    animation:block 1s infinite linear;
}

@keyframes block{
    0%{left: 480px;}
    100%{left:-40px;}

}
button{
    padding:1rem 2rem;
    margin-top: 1rem;
    margin-left: -9rem;
    border:none;
    outline: none;
    position:absolute;
    top: 70%;
    left: 60%;
    transform:translate(-50%,-50%);
    font-size: 2rem;
    font-weight: bold;
    background-color: rgb(230, 111, 14);

    


}